
<div>
    <h2><span data-translate="voilaVoix2App.audio.detail.title">Audio</span> {{vm.audio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="voilaVoix2App.audio.file">File</span></dt>
        <dd>
            <div ng-if="vm.audio.file">
                <a ng-click="vm.openFile(vm.audio.fileContentType, vm.audio.file)">
                    <img data-ng-src="{{'data:' + vm.audio.fileContentType + ';base64,' + vm.audio.file}}" style="max-width: 100%;" alt="audio image"/>
                </a>
                {{vm.audio.fileContentType}}, {{vm.byteSize(vm.audio.file)}}
            </div>
        </dd>
        <dt><span data-translate="voilaVoix2App.audio.file_content_type">File Content Type</span></dt>
        <dd>
            <span>{{vm.audio.file_content_type}}</span>
        </dd>
        <dt><span data-translate="voilaVoix2App.audio.name">Name</span></dt>
        <dd>
            <span>{{vm.audio.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="audio-detail.edit({id:vm.audio.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
