
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAudiosPostComputingLabel" data-translate="voilaVoix2App.audiosPostComputing.home.createOrEditLabel">Create or edit a Audios Post Computing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.audiosPostComputing.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.audiosPostComputing.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="voilaVoix2App.audiosPostComputing.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.audiosPostComputing.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="voilaVoix2App.audiosPostComputing.idApi" for="field_idApi">Id Api</label>
            <input type="number" class="form-control" name="idApi" id="field_idApi"
                    ng-model="vm.audiosPostComputing.idApi"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="voilaVoix2App.audiosPostComputing.result" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                    ng-model="vm.audiosPostComputing.result"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="voilaVoix2App.audiosPostComputing.shaOne" for="field_shaOne">Sha One</label>
            <input type="text" class="form-control" name="shaOne" id="field_shaOne"
                    ng-model="vm.audiosPostComputing.shaOne"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="voilaVoix2App.audiosPostComputing.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.audiosPostComputing.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
