    <div ng-cloak class="row">
    <div class="col-md-12 col-centered text-center">
        <p>Ici, vous pouvez charger vos fichiers à analyser, voir l'historique des analyses ainsi que les dernières
            fonctionnalités VoilaVoix!</p>
        <p>Limite : 20MB</p>
        <!--<input placeholder="Nom du fichier a envoyer " ng-model="vm.filename">-->
        <!--<p/>-->
        <!--<button class="btn btn-lg btn-primary" ui-sref="result">Analyser </button>-->

        <form name="vm.form">
            <!--<label class="btn btn-default btn-file">-->
                <!--tetst-->
                <!--<input type="file" ngf-select ngf-change="vm.setFile($file, vm.audio)" name="file" ngf-max-size="20MB"/>-->
            <!--</label>-->

            <div class="input-group col-md-6 col-md-offset-3">
            <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Parcourir <input style="display: none;" type="file" ngf-select ngf-change="vm.setFile($file, vm.audio)" name="file" ngf-max-size="20MB"/>
                    </span>
            </label>
            <input type="text" ng-model="vm.audio.file.name" class="form-control" readonly>
    </div>

            <br/>

            <button class="btn btn-lg btn-primary" ng-click="vm.submit()">submit</button>

        </form>

        <p/>

    </div>
</div>

<div class="row well container">
    <table>
        <tr ng-repeat="item in vm.history">
            <td>{{item}}</td>
        </tr>
    </table>

    <div class="col-md-6">
        <h1>Historique</h1>
        <table>
            <tr ng-repeat="new in vm.news ">
                <td>{{new.title}}</td>

            </tr>
        </table>
    </div>


    <div class="col-md-6">

        <h1>Nouveautés</h1>
        <table class="table table-striped">
            <tr ng-repeat="new in vm.news ">
                <td>{{new.title}}
                    <div class="col-md-12">{{new.description}}</div>
                </td>
                <td>{{new.newsDate}}</td>
            </tr>
        </table>

    </div>


</div>


<!--div class="col-md-4">
    <span class="hipster img-responsive img-rounded"></span>
</div>
<div class="col-md-8">
    <h1>Hello world!</h1>
    <p class="lead" data-translate="home.subtitle">This is your homepage</p>

    <div ng-switch="vm.isAuthenticated()">
        <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
            You are logged in as user "{{vm.account.login}}".
        </div>

        <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
            If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
        </div>

        <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
            You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
        </div>
    </div>

    <p data-translate="home.question">
        If you have any question on JHipster:
    </p>

    <ul>
        <li><a href="http://jhipster.github.io/" target="_blank" data-translate="home.link.homepage">JHipster homepage</a></li>
        <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
        <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
        <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" data-translate="home.link.chat">JHipster public chat room</a></li>
        <li><a href="https://twitter.com/java_hipster" target="_blank"  data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
    </ul>

    <p>
     <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" data-translate="home.github">Github</a>!
    </p>
</div-->
